body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;

    border-bottom: 1px solid white;
    
}

.container_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 3vh;
}

.logo{
    
    margin-left: 5%;
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* animation */

.animation_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #000;
    width: 120px;
    height: 15px;
    border-radius: 10px;
    border-top: 1px solid black;
    font-size: 13px;
    margin-top: -6px;
    margin-left: 5%;

    cursor: pointer;
}

.extra{
    margin-top: 58px;
    width: 120px;
    height: 80px;
    
    color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 15px;
    pointer-events: none;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    pointer-events: none;
    transform: translateY(-10px);

}

.extra.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.block1, .block2 {
    background-color: rgb(255, 255, 255);
    height: 15px;
    border-radius: 15px;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    

}





.extra p{
    font-size: 14px;
    font-weight: bold;
    transition-delay: 0.4s;
    margin-top: 100px;
    position: absolute;
    white-space: nowrap;
    transition-delay: 1.2s;
    color: white;
    
    
}

.block1, .block2, .extra p{
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(5px);
}

.extra.active .block1,
.extra.active .block2,
.extra.active p {
    opacity: 1;
    transform: translateY(0);
}

.extra.active .block1{
    transition-delay: 0.3s;
}

.extra.active .block2{
    transition-delay: 0.6s;
}

.extra.active p{
    transition-delay: 0.9s;

}

/* end of animation */




nav ul{
    display: flex;
    gap: 20px;
    margin: 0;
    list-style: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navigation{
    display: flex;
    margin-right: 3%;
}

nav a:hover{
    color:rgb(248, 179, 61);
    transition: 0.3s;
}


/* footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(99, 99, 99);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}