

/* header end */

.main{
    flex: 1;
}
/* section 1 */
.slider_container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
   
    
}
.slider_item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80%;
    background-color: black;
    border-radius: 5px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.slider_item:hover{
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 0px 0px 30px white;
    
}

/* section 2 */
.horizontal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    margin: 40px 0px 0px 0px;
    padding: 0px;
    gap: 20px;
}

.horizontal_container_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    flex: 1;
    height: 60%;
    border: 1px solid white;
}

.horizontal_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 90%;
    height: 85%;
    border: 1px solid white;
}

/* section 3 */

.vertical_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    margin: 40px 0px 0px 0px;
    padding: 0px;
    gap: 70px;
}

.wide_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    
    
}

.image1{
    width: 120px;
    height: 120px;
    background-color: black;
    margin: 30px;
    color: white;
}


/* main end */


 