

/* header end */

.main{
    flex: 1;
}
/* section 1 */
.slider_container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    background:#000000;

    position: relative;
    
}

.slider_container::before{
    content: "";
    position: absolute;
    inset: 0;
    background:
    radial-gradient(circle at 85% 25%, rgba(156,255,46,0.40), transparent 25%),
    radial-gradient(circle at 15% 75%, rgba(156,255,46,0.32), transparent 19%),
    radial-gradient(circle at 50% 10%, rgba(145, 255, 48, 0.417), transparent 30%),
    radial-gradient(circle at 50% 75%, rgba(145, 255, 48, 0.35), transparent 20%);
    
    background-size: 120% 120%;
    animation: bgMove 5s ease-in-out infinite alternate,
    circleOp 3s ease infinite alternate;

}

@keyframes bgMove {
    0% {
        background-position: 10% 10%, 80% 0%, 50% 20%, 0% 0%, 0 0;
    }
    100% {
        background-position: 0% 80%, 50% 90%, 65% 40%, 25% 50%, 0 0;
    }
}
@keyframes circleOp {
    0% {
        opacity: 0.65;
    }
    100% {
        opacity: 1;
}
}
.slider_item{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 35vh;
    height: 80%;
    border: 3px solid rgba(255,255,255, 0.8);
    border-radius: 5px;
    transition: transform 0.1s, box-shadow 0.2s;
    flex-direction: column;
    gap: 15px;

    
    background-color: rgb(255,255,255, 0.09);

    
    
}

.slider_item:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 0px 12px white;
    
}
/* slider 1 */
.container_theme{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    color: white;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 5px;
    
}

.wrapper_grid3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;

    flex-grow: 1;
    margin-bottom: 10px;
}

.color_box{
    position: relative;;
    width: 100%;
    height: 17vh;
    background-color: white;
    border-radius: 5px;
    
}

.color_box:first-child{
    background-color: #6bff2e;
}

.color_box_info{
    display: flex;
    position: absolute;
    background-color: black;
    width: 60%;
    height: 12vh;
    border-radius: 5px;
    top: 25%;
    left: 38%;
}


/* slider 2 */
.dev_info{
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 10px;
}

.dev_name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    flex: 2;
    margin-left: 10px;
}

.dev_name p{
    margin: 8px;
    width: 100%;
    padding: 2px 0;
    
}

.dev_img{
    flex: 1;
    background-color: black;
    margin: 10px;
    width: 100%;
    height: 9vh;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
}

.dev_info_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17vh;
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* section 2 */
.horizontal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    border-top: 5px solid white;
    padding: 0px;
    gap: 20px;
    color: white;
    background:#000000;
    
    background-image:
    repeating-linear-gradient(
      135deg,
      rgba(58, 238, 38, 0.35) 0px,
      rgba(29,128,17,0.35) 2px,
      transparent 2px,
      transparent 50px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(29,128,17,0.35) 0px,
      rgba(29,128,17,0.35) 2px,
      transparent 2px,
      transparent 90px
    );
    background-size: 300% 300%;
    animation: squareAnim 90s linear infinite;

}

@keyframes squareAnim {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 130% 130%;
    }
    
}

.horizontal_container p{
    padding-top: 20px;
}


.wrapper_main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 80vh;


}

.horizontal_container_text{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    flex: 1;
    height: 60%;
    max-width: 630px;
    border: 4px solid white;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    gap: 30px;
    font-size: 12px;
    padding-left: 20px;
    position: relative;
    
}

a {
    color: white;
    text-decoration: underline;
    text-decoration-color: #c30000;
    text-underline-offset: 5px;
    font-size: 18px;
    font-weight: bold;
}

.horizontal_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 350px;
    height: 350px;
    border: 1px solid white;
    
}
.horizontal_slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* section 3 */

.vertical_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    
    padding: 0px;
    gap: 70px;
}

.wide_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    
    
}

.image1{
    width: 120px;
    height: 120px;
    background-color: black;
    margin: 30px;
    color: white;
}


/* main end */


 