

/* header end */

.main{
    flex: 1;
}
/* section 1 */
.slider_container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
   
    
}
.slider_item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 80%;
    background-color: black;
    border: 3px solid white;
    border-radius: 5px;
    transition: transform 0.1s, box-shadow 0.2s;
    flex-direction: column;
    gap: 15px;
}

.slider_item:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 0px 0px 30px white;
    
}
/* slider 1 */
.container_theme{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    color: white;
    height: 35px;
    margin-top: 5px;
    border: 3px solid white;
    border-radius: 5px;
    
    
}

.color_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    width: 90%;
}

.color_box{
    position: relative;;
    width: 100%;
    height: 17vh;
    background-color: white;
    border-radius: 5px;
    
}

.color_box_info{
    display: flex;
    position: absolute;
    background-color: black;
    width: 60%;
    height: 12vh;
    border-radius: 5px;
    top: 25%;
    left: 38%;
}


/* slider 2 */
.dev_info{
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.dev_name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    flex: 2;
    margin-left: 10px;
}

.dev_name p{
    margin: 8px;
    width: 100%;
    padding: 2px 0;
    
}

.dev_img{
    flex: 1;
    background-color: black;
    margin: 10px;
    width: 100%;
    height: 9vh;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
}

.dev_info_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: white;
    color: black;
    border-radius: 5px;

}

/* section 2 */
.horizontal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    margin: 40px 0px 0px 0px;
    padding: 0px;
    gap: 20px;
}

.horizontal_container_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    flex: 1;
    height: 60%;
    border: 1px solid white;
}

.horizontal_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 90%;
    height: 85%;
    border: 1px solid white;
}

/* section 3 */

.vertical_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    margin: 40px 0px 0px 0px;
    padding: 0px;
    gap: 70px;
}

.wide_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    
    
}

.image1{
    width: 120px;
    height: 120px;
    background-color: black;
    margin: 30px;
    color: white;
}


/* main end */


 