body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;

    position: sticky;
    top: 0;
    z-index: 1000;

    border-bottom: 1px solid white;
    
}

.container_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 3vh;
}

.logo{
    
    margin-left: 5%;
    width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.animation_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #000;
    width: 120px;
    height: 15px;
    border-radius: 10px;
    border-top: 1px solid black;
    font-size: 13px;
    margin-top: -6px;
    margin-left: 5%;
}

.extra{
    margin-top: 58px;
    width: 120px;
    height: 80px;
    
    color: black;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 15px;
    pointer-events: none;

    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    pointer-events: none;
    transform: translateY(-10px);

}

.extra.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.block1, .block2 {
    background-color: rgb(255, 255, 255);
    height: 15px;
    border-radius: 15px;
    border: 1px solid black;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    

}





.extra p{
    font-size: 14px;
    font-weight: bold;
    transition-delay: 0.4s;
    margin-top: 100px;
    position: absolute;
    white-space: nowrap;
    transition-delay: 1.2s;
    color: white;
    
    
}

.block1, .block2, .extra p{
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(5px);
}

.extra.active .block1,
.extra.active .block2,
.extra.active p {
    opacity: 1;
    transform: translateY(0);
}

.extra.active .block1{
    transition-delay: 0.3s;
}

.extra.active .block2{
    transition-delay: 0.6s;
}

.extra.active p{
    transition-delay: 0.9s;

}




nav ul{
    display: flex;
    gap: 20px;
    margin: 0;
    list-style: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navigation{
    display: flex;
    margin-right: 3%;
}

nav a:hover{
    color:rgb(248, 179, 61);
    transition: 0.3s;
}

/* header end */

.main{
    flex: 1;
}
/* section 1 */
.slider_container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
   
    
}
.slider_item{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80%;
    background-color: black;
    border-radius: 5px;
    transition: transform 0.5s, box-shadow 0.5s;
}

.slider_item:hover{
    transform: scale(1.05);
    transition: 1s;
    box-shadow: 0px 0px 30px white;
    
}

/* section 2 */
.horizontal_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    margin: 40px 0px 0px 0px;
    padding: 0px;
    gap: 20px;
}

.horizontal_container_text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    flex: 1;
    height: 60%;
    border: 1px solid white;
}

.horizontal_slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 90%;
    height: 85%;
    border: 1px solid white;
}

/* section 3 */

.vertical_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(99, 99, 99);
    margin: 40px 0px 0px 0px;
    padding: 0px;
    gap: 70px;
}

.wide_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    
    
}

.image1{
    width: 120px;
    height: 120px;
    background-color: black;
    margin: 30px;
    color: white;
}


/* main end */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: rgb(99, 99, 99);
    color: white;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

 